/* .headerContainer {} */

.headerContainer .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.headerContainer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainer nav ul li {
    margin-left: 10px;

}

.headerContainer .burger {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1210;
}

@media (max-width:767px) {

    .headerContainer .burger {
        display: block;
    }

    .headerContainer .cont nav {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 1200;
        left: 0;
        top: 0;

    }

    .headerContainer nav ul {
        opacity: 0;
        transition: 1s ease;
        transform: translateY(-3px);
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .headerContainer nav ul.show {
        opacity: 1;
        transform: translateY(5px);
        background-color: var(--menu-color);
        border-radius: 16px;
    }

    .headerContainer nav ul li {
        width: 100%;
        text-align: center;
        padding: 50px;
    }
}

a a:hover {
    color: var(--menu-color);
}